.about {
    &__welcome-box {
        margin-right: 90px;
    }
    @include min-screen($bp-l) {
        padding-bottom: 200px;
    }
    &__photos {
        @include min-screen($bp-m) {
            position: relative;
            top: 15px;
        }
    }
    &__photo {
        display: block;
        margin: 0 auto 15px;
        @include min-screen($bp-m) {
            position: absolute;
        }
        &--back {
            @include min-screen($bp-m) {
                z-index: 1;
                padding-left: 15%;
            }
        }
        &--front {
            @include min-screen($bp-m) {
                z-index: 2;
                top: 35%;
            }
            @include min-screen($bp-l) {
                top: 50%;
            }
        }
    }
}
