.header {
    background-color: transparent;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    @include min-screen($bp-l) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    .container {
        @include min-screen($bp-l) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
        }
    }
    &__content {
        @include min-screen($bp-l) {
            display: flex;
            align-items: center;
        }
    }
}
