.hero {
    position: relative;
    max-height: 100vh;
    .tns-nav {
        position: absolute;
        top: 80%;
        margin: auto;
        z-index: 2;
        button {
            background: red;
            width: 50px;
        }
    }
    &__item {
        &.tns-slide-active {
            .hero__text-box {
                animation: 1s fadeIn ease-in 1 forwards 0.25s;
            }
        }
    }
    &__text-box {
        position: absolute;
        top: 50%;
        margin: auto;
        z-index: 2;
        color: $white;
        opacity: 0;
        max-width: 350px;
    }
    &__text {
        text-transform: uppercase;
        font-size: 50px;
        line-height: 1em;
        &:nth-of-type(2) {
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 44.5px;
        }
    }
}

.hero-slider {
    &__nav {
        display: flex;
        flex-wrap: nowrap;
        position: absolute;
        bottom: 50px;
        z-index: 1;
        align-items: center;
    }
    &__nav-item {
        height: 50px;
        outline: none;
        display: flex;
        align-items: center;
        margin-right: 10px;
        &.tns-nav-active {
            .hero-slider__nav-bar {
                position: relative;
                bottom: 4px;
                height: 10px;
                background-color: $white;
            }
        }
    }
    &__nav-bar {
        display: block;
        height: 1px;
        width: 55px;
        background-color: rgba(255, 255, 255, 0.3);
        cursor: pointer;
        &.tns-nav-active {
            height: 10px;
            background-color: $white;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.projects {
    &__grid {
        margin-top: 100px;
    }
    &__grid-item {
        &:hover {
            opacity: 0.5;
        }
    }
}
