.mobile-nav {
    background: $black;
    &__search {
        color: $white;
        font-size: 14px;
    }
    @include min-screen($bp-l) {
        display: none;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }
    &__trigger {
        border: 0;
        background-color: transparent;
    }
    &__bar {
        background: $white;
        border-radius: 3px;
        display: block;
        height: 2px;
        padding: 0;
        position: relative;
        transition: all 0.2s ease;
        width: 25px;
        margin: 5px auto;
    }
}
