.mobile-nav {
    background: $black;
    position: relative;
    &--is-open {
        .mobile-nav__trigger {
            color: red;
            outline: none;
        }
        .mobile-nav__bar {
            background: $blue;
            &:nth-child(1) {
                transform: rotate3d(0, 0, 1, 45deg);
                top: 20px;
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: rotate3d(0, 0, 1, -45deg);
                top: 20px;
            }
        }
    }
    &__search {
        color: $white;
        font-size: 14px;
    }
    @include min-screen($bp-l) {
        display: none;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }
    &__trigger {
        border: 0;
        background-color: transparent;
    }
    &__bar {
        background: $white;
        border-radius: 3px;
        display: block;
        height: 2px;
        padding: 0;
        position: absolute;
        transition: all 0.2s ease;
        width: 25px;
        margin: 5px auto;
        &:nth-child(1) {
            top: 12px;
        }
        &:nth-child(2) {
            top: 19px;
        }
    }
}
