.blog-section {
    &__title {
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.375;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0em;
        color: $blue;
        margin-bottom: 50px;
    }
}

.post {
    text-align: center;
    &:nth-child(odd) {
        padding-left: 0;
    }
    &:nth-child(even) {
        padding-right: 0;
    }
    &__date {
        text-transform: uppercase;
    }
}

.posts-list {
    &__item-content {
        margin-top: 25px;
        text-align: center;
    }
}

.post__tags a,
.entry-title a,
.post__date-link,
.posted-by a,
.post__cats a {
    transition: all 0.3s ease-in-out;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.75;
}

.post__date-link,
.entry-title a {
    &:visited {
        color: $gray;
    }
    &:hover,
    &:active {
        color: $blue;
    }
}

.posted-by a,
.post__cats a {
    color: $blue;
    text-transform: uppercase;
    &:visited {
        color: $gray;
    }
    &:hover,
    &:active {
        color: $gray;
    }
}

.entry-title a {
    color: $gray;
    line-height: 1.455;
    font-size: 24px;
    font-weight: 800;
}

.entry-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0em;
    color: $light-gray;
    word-wrap: break-word;
}

.post__tags a {
    color: $blue;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    &:hover,
    &:active {
        color: $gray;
    }
}

.post__button-wrap {
    margin-top: 15px;
    margin-bottom: 17px;
}

.post__button {
    color: $white;
    background-color: $blue;
    font-weight: 600;
    font-size: 13px;
    font-family: Montserrat, sans-serif;
    line-height: 2;
    display: inline-block;
    max-width: 100%;
    padding: 11px 32px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 25px;
    border-width: 0;
    border-style: solid;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    &:visited {
        color: $white;
    }
    &:hover,
    &:active {
        background-color: $gray;
    }
}

.post-thumbnail__img,
.wp-post-image,
.post-view img {
    border-radius: 6px;
}

.post__comments {
    padding: 10px;
    position: absolute;
    right: 25px;
    top: 20px;
}

.post__comments-link {
    padding: 7px 17px;
    border-radius: 20px;
    display: inline-block;
    background-color: $white;
    transition: all 0.3s ease-in-out;
    &:active,
    &:hover {
        background-color: $blue;
        color: $white;
        i {
            color: $white;
        }
    }
    i {
        font-size: 16px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px;
        position: relative;
        top: -2px;
        color: #bebebf;
        transition: all 0.3s ease-in-out;
    }
}

.entry-header {
    &__info {
        background-color: #f6f6f6;
        padding: 25px 0;
        margin-bottom: 50px;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding: 0;
        }
        .entry-title {
            &--top {
                color: $blue;
            }
        }
    }
}

.post-author-bio {
    margin-top: 50px;
    position: relative;
    padding-top: 33px;
    padding-bottom: 32px;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #e8e8e8;
    font-size: 16px;
    color: $light-gray;
}

.post-author__holder {
    position: relative;
    z-index: 2;
    display: flex;
}

.post-author__avatar {
    width: 100px;
    height: 100px;
    margin-right: 25px;
    .avatar {
        border-radius: 50%;
    }
}

.post-author__super-title {
    font-style: normal;
    font-weight: 600;
    line-height: 1.44;
    font-family: Montserrat, sans-serif;
    letter-spacing: 0em;
    text-align: inherit;
    color: #27bfe7;
    text-transform: uppercase;
}

.navigation {
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #e8e8e8;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 40px;
    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-next {
        margin-left: auto;
    }
    .nav-previous {
        margin-right: auto;
    }
    a {
        font-weight: 600;
        font-size: 13px;
        font-family: Montserrat, sans-serif;
        color: $white;
        background-color: $blue;
        line-height: 2;
        display: inline-block;
        max-width: 100%;
        padding: 11px 32px;
        cursor: pointer;
        text-align: center;
        overflow: hidden;
        vertical-align: top;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        border-radius: 25px;
        transition: all 0.3s ease-in-out;
        &:visited {
            color: $white;
        }
        &:hover,
        &:active {
            background-color: $gray;
        }
    }
    .nav-previous {
        padding-right: 15px;
    }
}
