.breadcrumbs {
    text-transform: uppercase;
    color: $light-gray;
    font-size: 12px;
    margin: 0;
    a {
        color: $light-gray;
        transition: all 0.3s ease-in-out;
        &:visited {
            color: $light-gray;
            ;
        }
        &:hover,
        &:active {
            color: $blue;
        }
    }
}
