.header {
    background-color: $black;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    @include min-screen($bp-l) {
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    &--blog {
        background-color: $black;
    }
    .container {
        @include min-screen($bp-l) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
        }
    }
    &__content {
        @include min-screen($bp-l) {
            display: flex;
            align-items: center;
        }
    }
}

.mobile-header {
    background-color: $black;
    @include min-screen(1024px) {
        display: none;
    }
}
