.post-author {
    &__holder {
        position: relative;
        z-index: 2;
        display: flex;
    }
    &__avatar {
        width: 100px;
        height: 100px;
        margin-right: 25px;
        .avatar {
            border-radius: 50%;
        }
    }
    &__super-title {
        font-style: normal;
        font-weight: 600;
        line-height: 1.44;
        font-family: $font-primary;
        letter-spacing: 0em;
        text-align: inherit;
        color: $blue;
        text-transform: uppercase;
    }
}

.post-author-bio {
    margin-top: 50px;
    position: relative;
    padding-top: 33px;
    padding-bottom: 32px;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: $light-gray3;
    font-size: 16px;
    color: $light-gray;
}
