.search-form {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(25, 25, 29, 0.9);
    align-items: center;
    justify-content: center;
    z-index: 99;
    opacity: 0;
    animation: 0.25s fadeIn ease-in 1 forwards 0.25s;
    &--is-open {
        display: flex;
    }
    &__elements-wrap {
        display: flex;
    }
    &__field {
        background: transparent;
        border: 0;
        outline: none;
        color: $white;
        font-size: 30px;
        font-weight: 700;
        border-left: 3px solid transparent;
        padding: 0 10px;
        &::placeholder {
            color: $white;
        }
        &:focus {
            border-color: $blue;
            ;
        }
    }
    &__close {
        font-size: 20px;
        padding: 15px;
        cursor: pointer;
        position: absolute;
        z-index: 3;
        top: 30px;
        right: 30px;
        color: $white;
        transition: $basic-transition;
        &:active,
        &:hover {
            color: $blue;
        }
        &--nav {
            display: none;
            position: absolute;
            top: -15px;
            left: 30px;
            opacity: 0;
            @include min-screen(576px) {
                left: 10px;
            }
        }
    }
    &__input-wrap {
        max-width: 200px;
        @include min-screen($bp-l) {
            max-width: 400px;
        }
    }
    &__submit {
        border: 0;
        background: transparent;
        font-size: 30px;
        padding: 0;
        color: $blue;
        transition: $basic-transition;
        &:active,
        &:hover {
            color: $white;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
