.socials {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 90px;
    margin: 25px auto;
    @include min-screen($bp-l) {
        display: none;
    }
    &--desktop {
        display: none;
        @include min-screen($bp-l) {
            display: flex;
            max-width: 90px;
            margin: 0;
        }
    }
    &--footer {
        display: flex;
        max-width: 75px;
        margin: 0;
        padding-right: 0;
        padding-left: 0;
        @include min-screen($bp-l) {
            max-width: 90px;
            padding-left: 15px;
        }
    }
    .fab {
        color: $white;
        font-size: 1rem;
        transition: all 0.3s ease-in-out;
        &:hover,
        &:active {
            color: $blue;
            cursor: pointer;
        }
        &--footer {
            color: $light-gray;
        }
    }
}
