* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    overflow-x: hidden;
}

ol,
ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    max-width: 100%;
}

a {
    &:hover,
    &:active {
        text-decoration: none;
    }
}

h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.434;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0em;
    text-align: inherit;
    color: $gray;
}

h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.375;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0em;
    text-align: inherit;
    color: $gray;
}

h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.44;
    font-family: Montserrat, sans-serif;
    letter-spacing: 0em;
    text-align: inherit;
    color: #27bfe7;
}

.baguetteBox-button#next-button,
.baguetteBox-button#previous-button {
    outline: none;
}

// .site {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
// }
.site {
    overflow-x: hidden;
}
